{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'capstone/start.css' %}">
        <title>Preventative Model</title>
    </head>
    <body data-spy="scroll" data-target=".navbar">
        <div data-spy="scroll"  id="scrollbar">
            <div class="cover" id="home">
                <div class="cover-text">
                    <h1> Welcome to Preventative Care </h1>
                    <p class="lead">Here we analyse the data of hundreds of patients and with the help of machine learning algorithms provide accurate conclusions which can be used for Future benifits.</p>
                    <br>
                    <br>
                    <div class="col-xs-4">
                        <form method="post" enctype="multipart/form-data" class="form-group">
                            {% csrf_token %}
                            <label class="control-label">Upload the Data</label>
                            <br>
                            <br>
                            <input name="myfile" type="file" class="filestyle" data-buttonText="Select a File">
                            <button type="submit" role="button" class="btn btn-success btn-lg ">Perform Test</a>
                        </form>
                    </div>
                    {% if uploaded_file_url %}
                        <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
        <footer>
            Crafted with &hearts; in Neemrana by <a href="#">Our Team</a>
        </footer>
    </body>
</html>